<!doctype html>
<html lang="es" data-bs-theme="dark">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{% block title %}Movienerd{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}{% endblock %}

        <!-- Scripts -->
        {% block scripts %}
        {{ bootstrap.load_js() }} <!-- Carga de JavaScript de Bootstrap -->
        {% endblock %}
    </body>
</html>
