{% extends 'base.html' %}

{% block title %}
    Movienerd (BETA)
{% endblock %}

{% block content %}
<!-- Contenedor principal -->
<div class="container col-xxl-8 px-4 py-5">
  {% for message in messages %}
    {% if message.author == 'assistant' %}
        <div class="d-flex flex-row justify-content-start mb-4">
            <img class="bg-white" src="{{ url_for('static', filename='movie.gif') }}" alt="avatar 1" style="width: 45px; height: 100%;">
            <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(116, 107, 171, 0.2);">
                <p class="small mb-0">{{message.content}}</p>
            </div>
        </div>
    {% else %}
        <div class="d-flex flex-row justify-content-end mb-4">
            <img class="bg-white" src="{{ url_for('static', filename='user.png') }}" alt="avatar 1" style="width: 45px; height: 100%;">
            <div class="p-3 me-3" style="border-radius: 15px; background-color: rgba(99, 90, 148, 0.188);">
                <p class="small mb-0">{{message.content}}</p>
            </div>
        </div>
    {% endif %}
  {% endfor %}

  <!-- Formulario para preferencias -->
  <form action="{{ url_for('chat') }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <p style="font-weight: bold; margin-top: 14px; color: yellowgreen"> Preferencias: </p>
      {% for option in user_refs %}
          <button type="submit" name="intent" value="{{ option }}" class="btn btn-success" style="margin: 5px;">
              {{ option }}
          </button>
      {% endfor %}
  </form>

  <!-- Formulario para enviar mensajes -->
  <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="input-group mb-3">
          <input id="messageInput" name="message" class="form-control" placeholder="Enviar mensaje a Movienerd" aria-label="Tu mensaje" aria-describedby="send-message">
          <button type="submit" class="btn btn-primary" id="send-message" name="intent" value="Enviar">Enviar</button>
      </div>
  </form>

  <!-- Botones para preferencias y cerrar sesión -->
  <div class="d-flex justify-content-between align-items-center mt-4">
      <!-- Botón para preferencias de usuario -->
      <a href="{{ url_for('user_profile') }}" class="btn btn-secondary me-2">Preferencias de Usuario</a>
      <!-- Botón para cerrar sesión -->
      <form id="logout-form" action="{{ url_for('logout') }}" method="POST" style="margin: 0;">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" id="logout-button" class="btn btn-danger">Cerrar Sesión</button>
      </form>
  </div>
</div>
<script>
    // Este script se ejecutará cuando la página haya terminado de cargarse.
    document.addEventListener('DOMContentLoaded', function() {
        // Enfocar automáticamente el campo de entrada con el ID 'messageInput'.
        const messageInput = document.getElementById('messageInput');
        if (messageInput) {
            messageInput.focus();
        }
    });
</script>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}

